:root {
    --primary-color: #130518;
    --primary-color2: #fff;
    --primary-color3: #7759F3;
    --primary-color4: #9c9aa5;
    --primary-color5: #FFF08;
    --primary-color6: #FFF12;
    --primary-color7: #13051808;
    --primary-color8: #fff;
    --primary-color9: #706C83;
    --primary-color10: #FFF08
}
